################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnSecureApp/.vs/UnSecureApp
/UnSecureApp/bin/Debug/net8.0
/UnSecureApp/obj/Debug/net8.0
/UnSecureApp/obj
